
######################
## node.js/typescript
######################

*~
package-lock.json
yarn.lock
node_modules/

######################
## emacs lisp
######################

*~

abbrev_defs
autosave-list
# elpa
.lsp-session*
projectile-bookmarks.eld
recentf
snippets
workspace

